---
software-deployment-method: conda
default-resources:
  slurm_account: hpc-ag-kircher
  slurm_partition: debug
  mem: 2G
  threads: 1
  runtime: 60
# error: "logs/%x_%j_%N.err"
# output: "logs/%x_%j_%N.log"
##################
### ASSIGNMENT ###
##################
set-resources:
  assignment_hybridFWRead_get_reads_by_length:
    runtime: 1140
    threads: 1
    mem: 2G
    slurm_partition: medium
  assignmemt_hybridFWRead_get_reads_by_cutadapt:
    runtime: 1200
    threads: 1
    mem: 4G
    slurm_partition: medium
  assignment_merge:
    runtime: 480
    slurm_partition: medium
  assignment_fastq_split:
    runtime: 1440
    threads: 1
    mem: 10G
    slurm_partition: medium
  assignment_mapping_bwa:
    runtime: 120
    threads: 30
    mem: 10G
    slurm_partition: medium
  assignment_collect:
    runtime: 2160
    threads: 30
    mem: 10G
    slurm_partition: medium
  assignment_getBCs:
    runtime: 240
    threads: 1
    slurm_partition: medium
  assignment_collectBCs:
    runtime: 3120
    threads: 20
    mem: 10G
    slurm_partition: medium
  assignment_mapping_exact:
    runtime: 60
    threads: 1
    mem: 10G
    slurm_partition: debug
  assignment_statistic_totalBCs:
    runtime: 60
    threads: 1
    slurm_partition: medium
    mem: 60G
  assignment_statistic_assignedCounts:
    runtime: 60
    threads: 1
    slurm_partition: medium
    mem: 10G
  assignment_statistic_assignment:
    runtime: 60
    threads: 1
    slurm_partition: medium
    mem: 40G
  ##############
  ### COUNTS ###
  ##############
  counts_demultiplex_BAM_umi:
    runtime: 5760
    mem: 22G
    slurm_partition: medium
  counts_demultiplex_mergeTrimReads_BAM_umi:
    runtime: 5760
    mem: 12G
    slurm_partition: medium
  counts_umi_create_BAM:
    runtime: 5760
    mem: 12G
    slurm_partition: medium
  counts_umi_raw_counts:
    runtime: 1320
    mem: 6G
    slurm_partition: medium
  counts_noUMI_create_BAM:
    runtime: 5760
    mem: 12G
    slurm_partition: medium
  counts_filter_counts:
    runtime: 120
    slurm_partition: medium
  counts_final_counts_samplerer:
    mem: 20G
    slurm_partition: medium

  #########################
  ### (ASSIGNED) COUNTS ###
  #########################

  counts_dna_rna_merge_counts:
    runtime: 1140
    slurm_partition: medium

  #######################
  ### ASSIGNED COUNTS ###
  #######################

  assigned_counts_dna_rna_merge:
    runtime: 5760
    mem: 20G
    slurm_partition: medium

  assigned_counts_assignBarcodes:
    runtime: 5760
    slurm_partition: medium
    mem: 20G

  assigned_counts_createAssignmentPickleFile:
    mem: 10G

  assigned_counts_filterAssignment:
    runtime: 60
    slurm_partition: medium
    mem: 15G

  assigned_counts_combine_replicates_barcode_output:
    runtime: 20
    mem: 30G
    slurm_partition: medium

  #################
  ### Statistic ###
  #################

  ########################
  ### Statistic/counts ###
  ########################

  statistic_counts_frequent_umis:
    runtime: 240
    slurm_partition: medium

  statistic_counts_barcode_base_composition:
    runtime: 1440
    slurm_partition: medium
    mem: 20G
  statistic_counts_table:
    runtime: 120
    slurm_partition: medium

  #############################
  ### Statistic/correlation ###
  #############################

  statistic_correlation_bc_counts_hist:
    runtime: 120
    mem: 10G
    slurm_partition: medium

  statistic_correlation_bc_counts:
    runtime: 120
    mem: 20G
    slurm_partition: medium
  statistic_correlation_bc_hist:
    runtime: 1320
    mem: 10G
    slurm_partition: medium
  statistic_correlation_calculate:
    runtime: 120
    mem: 10G
    slurm_partition: medium
  statistic_correlation_hist_box_plots:
    runtime: 120
    mem: 10G
    slurm_partition: medium

  ############################
  ### Statistic/bc_overlap ###
  ############################

  statistic_bc_overlap_run:
    runtime: 300
    mem: 25G
    slurm_partition: medium
