.vscode/
report.html
resources
logs
*results
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
.snakemake
.ipynb_checkpoints
*.pyc
docs/_build/
config/sbatch_omics_cluster.yaml
data
docs_data
mix_data
*data
*report.html

